<div class="row">
  <div class="col s6 offset-s3">
    <div class="section">
        <h1 class="center">Карточка сотрудника</h1>
        <ul class="collection employee-collection">
          <li class="collection-item"><div>{{data.name}} {{data.surname}}<a href="#!" class="secondary-content"><i class="material-icons">insert_link</i></a><a href="#!" class="secondary-content"><i class="material-icons">edit</i></a><a href="#!" class="secondary-content"><i class="material-icons">delete</i></a></div></li>
        </ul>
    </div>
  </div>
  <div class="col s1 offset-s2">
    <a href="/admin"><i class="material-icons medium purple-text">arrow_back</i></a>
  </div>
</div>
