тысты
  <ul class="collection">
      {{#each data}}
     <li class="collection-item"><div>{{name}}<a href="/admin/tests/{{code}}" class="secondary-content"><i class="material-icons">send</i></a></div></li>
{{/each}}

      </ul>
