<form action="/analytic/upload" method="post" enctype="multipart/form-data">
    <label for="file" class="label" style="margin-top: 30vh"><div class="icons"><i class="material-icons">file_download</i></div>ЗАГРУЗИТЬ EXCEL</label><br>
    <input class="inp hide" id="file" type="file" name="filedata" /><br><br>
    <button class="btn analitics-btn-done">Готово!</button>
</form>