* {
    box-sizing: border-box;
}
body{
    padding:0;
    margin:0;
} 
.nav-wrapper{
    padding: 0 2rem;
}

/* new */
nav ul a {
    color: black
}
nav .nav-wrapper a {
    color:black
}
.nav-wrapper .input-field input[type=search]{
    height: auto;
}

.employee-collection .collection-item a i {
    margin-right: 10px;
}
.add-employee {
    cursor: pointer;
    color: grey;
}
.add-employee:hover {
    background-color: rgb(224, 224, 224);
    border-radius: 100%;
}
.promo {
    padding: 50px 0;
}
.collapsible .collapsible-body .collection .collection-item a{
    margin-left: 15px;
}

.collapsible .collapsible-body .collection .collection-item a:hover{
    color:purple
}
.add-group-admin {
    color: grey;
    padding: 13px 0;
    cursor:pointer;
}

.add-group-admin:hover {
    border-radius: 100%;
    width: 50px;
    background-color: rgba(182, 181, 181, .5);
}