<div class="row">
    <div class="col s3">
        <ul id="slide-out" class="sidenav sidenav-fixed" style="margin-top:45px;z-index:-1;width:323px">
          <li>
            <div class="user-view">
              <div class="background"></div>
              <a href="#user"><img class="circle" src="https://play-lh.googleusercontent.com/tf--Y6f6_EQ_lNh2QTWv7OuWXd6fmIHTublcNSijqxOLljTE4lRqa9ZjrFyPR6w0IhY"></a>
              <a href="#name"><span class="white-text name">Иван Иванов</span></a>
              <a href="#email"><span class="white-text email">ivan@gmail.com</span></a>
            </div>
          </li>
          <li><a href="#!"><i class="material-icons">cloud</i>Добавить данные</a></li>
          <li><a href="#!">выгрузить отчет</a></li>
          <li><div class="divider"></div></li>
          <li ><a class="subheader">Данные</a></li>
          <li ><a class="waves-effect a click" href="#!">Рекомендации</a></li>
          <li ><a class="waves-effect active a" href="#!">Детализация</a></li>
          <li ><a class="waves-effect a" href="#!">Прогресс</a></li>
        </ul>
    </div>
  <div class="col s9">
    <ul id="tabs-swipe-demo" class="tabs">
    <li class="tab col s3 "><a href="#test-swipe-1">Рекомендации</a></li>
    <li class="tab col s3"><a class="active" href="#test-swipe-2">Детализация</a></li>
    <li class="tab col s3"><a href="#test-swipe-3">Прогресс</a></li>
    <li class="tab col s3"><a href="#test-swipe-4">Test 3</a></li>
  </ul>
  <div id="test-swipe-1" class="col s12 box">
    <div class="rec-wrap">
      <h4>Рекомендация</h4>
      <div class="info">
        <div class='img-wrap'>
        <img src="images/struc.jpg" alt="">
      </div>
        <div class='list-wrap'>
        <p>1. Работа в команде</p>
        <p>2.Стрессоустойчивость </p>
        <P>3.Эмоциональный интеллект</P>
        <P>4.Ориентация на результат </P>
        <P>5.Мотивация</P>
        <P>6.Организованность </P>
        <P>7.Работа в условиях неопределенности</P>
        <p>8.Скорость работы</p>
      </div>
      </div>
      <p>
        Ориентация на результат является структурообразуещей компетенцией, <br><br>
        т.е. находится в наибольшей взимосвязи с другими компетенциями. <br><br>
        "Ориентация на результат" находится в положительной связи с компетенцией 8.<br><br>
        <b>Повышение компетенции "Ориентация на результат" повысит компетенцию 8. </b> <br><br>
        Компетенция "Ориентация на результат" находится в отрицательной связи с компетенцией 2. <br><br>
        <b>Следовательно повышение "Ориентации на результат" приведет к понижению компетенции 2. </b>
        <br><br>
        <p><b> Повышение именно компетенции "Ориентация на результат" принесет наибольший результат для сотрудника(группы)</b></p>
      </p>
      <h4>Возможно вам подойдет</h4>
        <div class="partners-wrap col s6">
          <div class="partner">
            <div class="left-block">
              <div class="partner-logo"></div>
              <div class="partner-name"><div>Тренинг: Секреты успешной мотивации (курс 2 дня, стоимость 10к)</div> </div>
            </div>
            <div class="right-block">
              <div class="sales">
              <button>скидка 20%</button>
              </div>
              <div class="about">
              <button>узнать больше</button>
              </div>
            </div>
          </div>

          <div class="partner">
            <div class="left-block">
              <div class="partner-logo"></div>
              <div class="partner-name">Тренинг: Как зажечь желание работать (курс 4 дня, стоимость 10 к)</div>
            </div>
            <div class="right-block">
              <div class="sales">
              <button>скидка 10%</button>
              </div>
              <div class="about">
              <button>узнать больше</button>
              </div>
            </div>
          </div>

          <div class="partner">
            <div class="left-block">
              <div class="partner-logo"></div>
              <div class="partner-name">Тренинг: как победить тревогу (курс 1 день, 3500)</div>
            </div>
            <div class="right-block">
              <div class="sales">
              <button>скидка 13%</button>
              </div>
              <div class="about">
              <button>узнать больше</button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div id="test-swipe-2" class="col s6 box">
    <div id="test1" class="col s8 offset-s4 data">
      <div class="chart2" style="position: relative; height:70vh; width:60vw">
          <canvas id="myChart2"></canvas>
      </div>
    </div>
    <div id="test2" class="col s8 offset-s4 data">
      <div class="chart3" style="position: relative; height:70vh; width:60vw">
            <canvas id="myChart3"></canvas>
        </div>
    </div>
  </div>
  <div id="test-swipe-3" class="col s6 box">
    <div id="test3" class="col s8 offset-s4 data">
      <div class="chart3" style="position: relative; height:70vh; width:60vw">
            <canvas id="myChart4"></canvas>
        </div>
    </div>
  </div>
  {{!-- <div id="test-swipe-4" class="col s12 black box">Test 4</div> --}}
  </div>
   
</div> 