<div class="row">
    <div class="col s12">
        <div class="card purple lighten-5">
            <div class="card-content white-text">
                <div class="video-container">
                    <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
 <div class="divider"></div>
<div class="row promo">
    <div class="col s5">
        <div class="section ">
            <div class="card z-depth-0">
                <h2 class="center">Lorem ipsum dolor sit amet</h2>
                <p class="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, culpa tenetur hic dicta vel deleniti corrupti assumenda laudantium iusto velit, porro ab ipsa eveniet esse cumque et. Modi, sapiente ad?</p>
            </div>
        </div>
    </div>
    <div class="col s5 offset-s2">
        <div class="section">
                <img class="responsive-img" src="https://get.wallhere.com/photo/mountains-road-marking-auto-movement-1217093.jpg">
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="row promo">
     <div class="col s5 ">
        <div class="section">
                <img class="responsive-img" src="https://get.wallhere.com/photo/mountains-road-marking-auto-movement-1217093.jpg">
        </div>
    </div>
    <div class="col s5 offset-s2">
        <div class="section">
            <div class="card z-depth-0">
                <h2 class="center">Lorem ipsum dolor sit amet</h2>
                <p class="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, culpa tenetur hic dicta vel deleniti corrupti assumenda laudantium iusto velit, porro ab ipsa eveniet esse cumque et. Modi, sapiente ad?</p>
            </div>
        </div>
    </div>
   
</div>
<div class="divider"></div>
<div class="row promo">
    <div class="col s5">
        <div class="section">
            <div class="card z-depth-0">
                <h2 class="center">Lorem ipsum dolor sit amet, <br> consectetur adipisicing elit</h2>
                <p class="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, culpa tenetur hic dicta vel deleniti corrupti assumenda laudantium iusto velit, porro ab ipsa eveniet esse cumque et. Modi, sapiente ad?</p>
            </div>
        </div>
    </div>
    <div class="col s5 offset-s2">
        <div class="section">
                <img class="responsive-img" src="https://get.wallhere.com/photo/mountains-road-marking-auto-movement-1217093.jpg">
        </div>
    </div>
</div>

        